$title-color: #fff;
$bg-post: #2F2F2F;
$bg-dashboard: #2D2D2D;
$description-color: #fff;
$counter-color: #666;
$bg-navigation: #21523D;
$active-tab-color: #26CF88;
$title-font: Roboto, sans-serif;
$description-font: Roboto, sans-serif;

